<!DOCTYPE html>
<html>
<head>
  <title>下載繳費單</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</head>
<body>
  <div class="container">
    <br>
<div class="col-md-5">
  <div style="background-color: rgb(8, 11, 0);">
 <h3 style="text-align: center;color: #ffffff"style="font-weight: bold;">繳費單</h3>
 </div>
 <hr>
 <div class="row">
  <div class="col-md-4" style="font-weight: bold;text-align: center;">
    姓名 : {{student.S_Name}}
  </div>
  <div class="col-md-4"style="font-weight: bold;text-align: center;">
    學號 : {{student.S_ID}}
  </div>
  <div class="col-md-4"style="font-weight: bold;text-align: center;">
   系別 : {{student.S_Department}}
  </div>
</div>
 <br>
<table  style="border:3px #cccccc solid;" class="table table-bordered">
  <thead style="background-color: rgb(184, 185, 188);">
    <tr>
      <th scope="col"style="text-align: center;">項目</th>
      <th scope="col"style="text-align: center;">應繳金額</th>   
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="text-align: center;">住宿費</th>
      <td style="text-align: center;">{{student.D_Cost}}</td>   
    </tr>
    <tr>
      <th scope="row" style="text-align: center;">電腦與網路通訊使用費</th>
      <td style="text-align: center;">257</td>    
    </tr>
    <tr>
      <th scope="row" style="text-align: center;">語言設備使用費</th>
      <td style="text-align: center;">0</td>
    </tr>
    <tr>
      <th scope="row"style="text-align: center;">外語設備實習費</th>
      <td style="text-align: center;">0</td>   
    </tr>
    <tr>
      <th scope="row"style="text-align: center;">學分費</th>
      <td style="text-align: center;">0</td>
    </tr>
    <tr>
      <th scope="row" style="text-align: center;">學生團體保險費</th>
      <td style="text-align: center;">406</td>  
    </tr>
    <tr>
      <th scope="row" style="text-align: center;">健保費</th>
      <td style="text-align: center;">0</td>  
    </tr>
    <tr>
      <th scope="row" style="text-align: center;">僑保費</th>
      <td style="text-align: center;">0</td>  
    </tr>
    <tr>
      <th scope="row"style="text-align: center;">外籍保險費</th>
      <td style="text-align: center;">0</td>  
    </tr>
    <tr>
      <th scope="row" style="text-align: center;">住宿保證金</th>
      <td style="text-align: center;">1000</td>   
    </tr>

  </tbody>
</table>
</div>
<button style=" width: 120px; height: 40px; background-color: #335495; color: #ffffff; border: 2px #335495 outset;"id="downloadButton">下載繳費單</button>
</div>
 


  <script>
    var jsPDF = window.jspdf.jsPDF;

    document.getElementById('downloadButton').addEventListener('click', function() {
      var button = this;
      button.disabled = true;
      button.style.display = 'none';

      var doc = new jsPDF();

      html2canvas(document.documentElement).then(function(canvas) {
        doc.addImage(canvas, 'JPEG', 0, 0, doc.internal.pageSize.getWidth()+200, doc.internal.pageSize.getHeight());
        doc.save('繳費單.pdf');

        button.disabled = false;
        button.style.display = 'block';
        
      });
    });
  </script>


</body>
</html>
