<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <title>更改密碼</title>
  <style>
    * {
      font-family: 微軟正黑體;
    }

    h3,
    #confirm_new_password,
    #username,
    #old_password,
    #new_password {
      width: 400px;
      height: 40px;
      margin: 15px;
      color: #335495;
    }

    h5 {
      margin: 20px;
      color: #a3a2a3;
    }

    h5:hover {
      color: black;
    }

    #container {
      margin: 50px;
      padding: 10px;
      width: 460px;
      height: 485px;
      background-color: white;
      border-radius: 5px;
      border-top: 25px solid #335495;
      box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);

      /*定位對齊*/
      position: relative;
      margin: auto;
      top: 100px;
      text-align: center;
    }

    .system_name {
      /*定位對齊*/
      position: relative;
      margin: auto;
      top: 100px;
      text-align: center;
    }

    .submit {
      color: white;
      background: #335495;
      width: 200px;
      height: 30px;
      margin: 10px;
      padding: 5px;
      border-radius: 5px;
      border: 0px;
    }

    .submit:hover {
      background: #15377c;
    }

    input {
      padding: 5px;
      border: none;
      border: solid 1px #ccc;
      border-radius: 5px;
    }
  </style>
</head>

<body style=" background-repeat:no-repeat ;

background-size:100% 100%; 

background-attachment: fixed;backdrop-filter:blur(3px);" background='../350.jpg'>
  <div class="system_name">
    <h2 style="color: white" ;>高雄大學住宿管理系統</h2>
  </div>
  <div class="change_password_page">
    <div id="container">
      <div class="Change_password">
        <center><h3>更改密碼</h3></center>
        <form action="/auth/change_password" method="POST">
          <input type="text" id="username" name="username" placeholder="帳號" required="required"
            oninvalid="setCustomValidity('請輸入帳號！')" oninput="setCustomValidity('')">
          <div class="tab"></div>
          <input type="password" id="old_password" name="old_password" placeholder="舊密碼" required="required"
            oninvalid="setCustomValidity('請輸入舊密碼！')" oninput="setCustomValidity('')">
          <div class="tab"></div>
          <input type="password" id="new_password" name="new_password" placeholder="新密碼" required="required"
            oninvalid="setCustomValidity('請輸入新密碼！')" oninput="setCustomValidity('')">
          <input type="password" id="confirm_new_password" name="confirm_new_password" placeholder="確認新密碼" required="required"
            oninvalid="setCustomValidity('請確認新密碼！')" oninput="setCustomValidity('')">
          <div class="tab"></div>
          <input type="submit" value="確定更改" class="submit" />
        </form>
        <a href="/login">
          <h5>返回登入頁面</h5>
        </a>
      </div>
      {{#if message}}
      <h4 style="color:red" ; class="alert alert-danger mt-4">{{message}}</h4>
      {{/if}}
    </div>
  </div>
</body>

</html>