<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>高雄大學宿舍管理系統</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
      <div class="container px-4 px-lg-5">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto py-4 py-lg-0">
            <li class="list-inline-item">
                <a href="/home_visitor" class="home">
                    <span class="fa-stack fa-lg">
                      <button data-bs-toggle="tooltip" data-bs-placement="top" title="返回首頁"
                      style="width: 50px; height: 50px;color:#ffffff"
                      class="fa-solid fa-house-user"
                    ></button>
                    </span>
                </a>
            </li>
                      
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4"
              href="/login">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('../intr.jpg')">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>宿舍詳細介紹</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
  <body style="background-color: #ffffff">

    <!-- 內容區 -->
    <main>
      <div class="container">
        <div style="background-color: #c799d3; height: 38px">
          <h1 class="text-center mt-5" style="color: black; font-size: 38px">
            綜合第一大樓
          </h1>
        </div>
        <hr style="color: black" />
        <div class="row">
          <div class="col-md-7">
            <div style="background-color: #b6c8e5">
              <h2 style="color: black; text-align: center">
                外觀及寢室<small>（四人套房皆為上下舖）</small>
              </h2>
            </div>
            <p class="lead" style="color: black">
              費用：9,710 元<br /><br />
              內含住宿網路資源使用費 400 元<br /><br />
              床位大小:長 216 公分、寬 95 公分<br /><br />

              洗衣機、烘衣機及脫水機在三、四樓兩側樓梯間，<br /><br />洗衣設備使用時間為24小時開放
              <img src="b01room.png" class="img-fluid" />
            </p>
          </div>
          <div class="col-md-5">
            <div class="row">
            <img src="b01.png" class="img-fluid" />     
            </div>
            <br>
            <div class="row">
            <img src="b_2.jpg" class="img-fluid" />
          </div>
          </div>
        </div>

        <div class="container">
          <h1 class="text-center mt-5" style="color: black; font-size: 35px">
            公共空間
          </h1>
          <hr style="color: black" />
          <div class="row">
            <div class="col-md-6">
              <div style="background-color: #b6c8e5">
                <h2 style="color: black; text-align: center">
                  洗衣茶水間及垃圾場
                </h2>
              </div>
              <p class="lead" style="color: black">
                三樓設有販賣機，四樓設有洗衣機、烘乾機、脫水機
                <img src="b01wash.png" class="img-fluid" />
              </p>
            </div>

            <div class="col-md-6">
              <div style="background-color: #b6c8e5">
                <h2 style="color: black; text-align: center">交誼廳</h2>
              </div>
              <p class="lead" style="color: black">
                設有電視、撞球桌、飲水機，每日提供報紙
                <img src="b01play.png" class="img-fluid" />
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div style="background-color: #c799d3; height: 38px">
          <h1 class="text-center mt-5" style="color: black; font-size: 38px">
            學生第一宿舍
          </h1>
        </div>
        <hr style="color: black" />
        <div class="row">
          <div class="col-md-7">
            <div style="background-color: #b6c8e5">
              <h2 style="color: black; text-align: center">
                外觀及寢室<small>(一樓為愛心套房，其餘皆為四人套房)</small>
              </h2>
            </div>

            <p class="lead" style="color: black">
              費用：7,463 元<br /><br />
              內含住宿網路資源使用費 400 元<br /><br />
              床位大小:長 190 公分、寬 95 公分<br /><br />

              每層樓皆設有二台洗衣機、一台烘衣機、一台脫水機可供使用<br /><br />洗衣設備使用時間為每日
              7-24 時 <img src="obroom.png" class="img-fluid" />
            </p>
          </div>
          <div class="col-md-5">
            <img src="ob.jpg" class="img-fluid" />
            <img src="ob4.png" class="img-fluid" />
          </div>
        </div>

        <div class="container">
          <h1 class="text-center mt-5" style="color: black; font-size: 35px">
            公共空間
          </h1>
          <hr style="color: black" />
          <div class="row">
            <div class="col-md-6">
              <div style="background-color: #b6c8e5">
                <h2 style="color: black; text-align: center">洗衣茶水間</h2>
              </div>
              <p class="lead" style="color: black">
                洗衣機 : 10 元/次 ，烘衣機 : 20元/次， 脫水機 : 免費
                <img src="obwash.png" class="img-fluid" />
              </p>
            </div>

            <div class="col-md-6">
              <div style="background-color: #b6c8e5">
                <h2 style="color: black; text-align: center">交誼廳</h2>
              </div>
              <p class="lead" style="color: black">
                設有簡易廚房(微波爐、烤箱、電鍋、電磁爐、吐司機)
                <img src="obplay.png" class="img-fluid" />
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div style="background-color: #c799d3; height: 38px">
          <h1 class="text-center mt-5" style="color: black; font-size: 38px">
            學生第二宿舍
          </h1>
        </div>
        <hr style="color: black" />
        <div class="row">
          <div class="col-md-7">
            <div style="background-color: #b6c8e5">
              <h2 style="color: black; text-align: center">
                外觀及寢室<small>（OF一樓為愛心套房，其餘皆為四人套房）</small>
              </h2>
            </div>
            <p class="lead" style="color: black">
              費用：9,985 元<br /><br />
              內含住宿網路資源使用費 400 元<br /><br />
              床位大小:長 200 公分、寬 95 公分<br /><br />

              每層樓皆設有二台洗衣機、一台烘衣機、一台脫水機可供使用<br /><br />洗衣設備使用時間為
              24 小時開放

              <img src="oeroom.png" class="img-fluid" />
            </p>
          </div>
          <div class="col-md-5">
            <img src="oe.png" class="img-fluid" />
            <img src="oegarden.png" class="img-fluid" />
          </div>
        </div>

        <div class="container">
          <h1 class="text-center mt-5" style="color: black; font-size: 35px">
            公共空間
          </h1>
          <hr style="color: black" />
          <div class="row">
            <div class="col-md-6">
              <div style="background-color: #b6c8e5">
                <h2 style="color: black; text-align: center">洗衣茶水間</h2>
              </div>
              <p class="lead" style="color: black">
                設有洗衣機、烘衣機、脫水機、飲水機
                <img src="oewash.png" class="img-fluid" />
              </p>

              <div style="background-color: #b6c8e5">
                <h2 style="color: black; text-align: center">一樓閱覽室</h2>
              </div>
              <p class="lead" style="color: black">
                提供住宿生最佳的課後討論空間
                <img src="oeread.png" class="img-fluid" />
              </p>
            </div>

            <div class="col-md-6">
              <div style="background-color: #b6c8e5">
                <h2 style="color: black; text-align: center">交誼廳</h2>
              </div>
              <p class="lead" style="color: black">
                設有簡易廚房(微波爐、烤箱、電鍋、電磁爐、吐司機)
                <img src="oeplay.png" class="img-fluid" />
              </p>
              <br /><br />
              <div style="background-color: #b6c8e5">
                <h2 style="color: black; text-align: center">二樓自修室</h2>
              </div>
              <p class="lead" style="color: black">
                專屬住宿生的自修空間(期中考週 24 小時開放)
                <img src="oestudy.png" class="img-fluid" />
              </p>
            </div>
          </div>         
        </div>        
      </div> 
    </main>
    <a href="#top" class="top" style="float: right;display: none;" id="up"><i  style="width: 50px;height: 50px;"class="fa-regular fa-circle-up"></i></a>
    <footer class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div id="top-footer">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-6 contact">
                              <i class="fa-solid fa-paperclip" style="display: inline;float: left;width: 30px;height: 30px;"></i>
                              <h3>高雄大學網站:</h3>
                             
                              <a href="https://www.nuk.edu.tw/" target="_blank" 
                                >https://www.nuk.edu.tw/</a
                              >
                            </div>
                            <div class="col-md-6 social">
                              <i class="fa-solid fa-chalkboard-user" style="display: inline;float: left;width: 30px;height: 30px;"></i>
                              <h3>moodle平台:</h3>
                              <a href="https://elearningv4.nuk.edu.tw/" target="_blank"
                                >https://elearningv4.nuk.edu.tw/</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
